@media (max-width: 550px) {
    .media {
      padding-top: 30% !important;
    }
  }

.media{
    /* background-color: aqua; */
    padding-top: 10%;
}

.edition{
    text-align: center;
}

img {
    margin: 2%;
    max-width: 10% !important;
}