<div class="media d-flex flex-column">
    <div class="edition">
        <h3>Verano 2022</h3>
        <div class="pics d-flex justify-content-evenly">
            <img src="../../assets/images/feb23/20230226104653_IMG_1574.JPG" class="img-thumbnail">
            <img src="../../assets/images/feb23/20230226111203_IMG_1595.JPG" class="img-thumbnail">
            <img src="../../assets/images/feb23/20230226114640_IMG_1616.JPG" class="img-thumbnail">
            <img src="../../assets/images/feb23/20230226120629_IMG_1634.JPG" class="img-thumbnail">
            <img src="../../assets/images/feb23/20230226143920_IMG_1896.JPG" class="img-thumbnail">
            <a href="https://drive.google.com/drive/u/0/folders/1yAQ6k8VtVZ1H8ZRN_gEZwRjussKjonQp" class="align-self-center"><i class="bi bi-plus-circle"></i></a>
            
        </div>
    </div>
    <hr>
    <div class="edition">
        <h3>Verano 2022</h3>
        <div class="pics d-flex justify-content-evenly">
            <img src="../../assets/images/summer22/20220827112516_IMG_1079.JPG" class="img-thumbnail">
            <img src="../../assets/images/summer22/20220827114607_IMG_1096.JPG" class="img-thumbnail">
            <img src="../../assets/images/summer22/20220827120258_IMG_1138.JPG" class="img-thumbnail">
            <img src="../../assets/images/summer22/20220827120706_IMG_1147.JPG" class="img-thumbnail">
            <img src="../../assets/images/summer22/20220827162100_IMG_1252.JPG" class="img-thumbnail">
            <a href="https://drive.google.com/drive/u/0/folders/1-2kAk9HN1Q4w1t_bhNjq_0-HMvA03nXQ" class="align-self-center"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>
