<div class="component-body h-100 d-flex justify-content-center">
    <div class="buttons d-flex flex-column">    
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ 'courtGamesTable.localTeam' | translate }}</th>
                        <th scope="col">{{ 'courtGamesTable.visitTeam' | translate }}</th>
                        <th scope="col">{{ 'courtGamesTable.courtName' | translate }}</th>
                        <th scope="col">{{ 'courtGamesTable.schedule' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of staffGames; let index">
                        <td>{{ game.id }}</td>
                        <td>{{ game.team1.name }}</td>
                        <td>{{ game.team2.name }}</td>
                        <td>{{ game.court }}</td>
                        <td>{{ game.schedule | date:'shortTime' }}</td>
                        <td>
                            <button type="button" class="btn btn-success mw-10" (click)="openResultGameModal(game)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>