<div class="navbar">
    <header class="logo-container mt-3">
      <ul class="nav nav-pills">
        <li class="nav-item text-secondary dropdown">
          <a 
            class="nav-link dropdown-toggle" 
            data-bs-toggle="dropdown" 
            role="button" 
            aria-haspopup="true" 
            aria-expanded="false">
            {{ 'header.profile' | translate }}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="configprofile">{{ 'toolbarDropdown.userProfile' | translate }}</a>
            <a class="dropdown-item">Añadir Partido</a>
            <a class="dropdown-item" 
              (click)="logSession()"
              >{{ setLogText() | translate}}
            </a>
          </div>
        </li>

        <li class="nav-item text-secondary"><a routerLink="media" class="nav-link">{{ 'header.mediaLink' | translate }}</a></li>
        <li class="nav-item text-secondary"><a routerLink="news" class="nav-link">{{ 'header.newsLink' | translate }}</a></li>
        <li class="nav-item"><a routerLink="welcome" aria-current="page"><img src="../../../assets/images/mainLogo.png"/></a></li>
        <li class="nav-item text-secondary"><a routerLink="inscription" class="nav-link">{{ 'header.inscriptionLink' | translate }}</a></li>
        <li class="nav-item text-secondary"><a routerLink="contact" class="nav-link">{{ 'header.contactLink' | translate }}</a></li>
      </ul>
    </header>
</div>