<div class="component-body h-100 d-flex justify-content-center">
    <div class="buttons d-flex flex-column">
        <button type="button" class="btn btn-warning m-2" (click)="openGroupModal()"><i class="bi bi-database-add"></i> Crear nuevo grupo</button>
        <button type="button" class="btn btn-warning m-2" (click)="openGameModal()"><i class="bi bi-database-add"></i> Añadir partido</button>
        <button type="button" class="btn btn-warning m-2" (click)="openGameModal()"><i class="bi bi-database-add"></i> Añadir resultado de partido</button>
        <div class="see-data">
            <button type="button" class="btn btn-warning m-2" (click)="openAllGroupModal()"><i class="bi bi-search"></i>{{ 'adminDashboard.allGroupBtn' | translate }}</button>
            <button type="button" class="btn btn-warning m-2" (click)="openAllTeamModal()"><i class="bi bi-search"></i>{{ 'adminDashboard.allTeamBtn' | translate }}</button>
            <button type="button" class="btn btn-warning m-2" (click)="openAllPlayersModal()"><i class="bi bi-search"></i>{{ 'adminDashboard.allPlayerBtn' | translate }}</button>
        </div>
    </div>
</div>
