<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'adminDashboard.dataModelTitle' | translate }}</h4>
    <button 
      type="button"
      class="close"
      (click)="dismissModal()"
    >
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <p>{{ 'adminDashboard.totalLabel' | translate }} {{ dataToShow.length }}</p>
      <div *ngFor="let data of dataToShow; let i = index">
        <p>{{ data.name }}</p>
      </div>
    </div>
</div>