<div class="component-body d-flex flex-column justify-content-start">
    <div class="row mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
              <h2>{{ 'configUser.formHeader' | translate }}</h2>
              <form>
                <div class="form-group">
                  <label for="name">{{ 'configUser.nameLabelInput' | translate }}</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" placeholder="{{ 'profileConfig.noSession' | translate }}" readonly>
                </div>
                <div class="form-group">
                  <label for="email">{{ 'configUser.mailLabelInput' | translate }}</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="user.mail" name="email" placeholder="{{ 'profileConfig.noSession' | translate }}" readonly>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
