<div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <h2>{{ 'inscriptions.resumeData.resumeTitle' | translate }}</h2>
      <div class="d-flex flex-column justify-content-center">
        <div class="form-group">
          <label>{{ 'inscriptions.teamForm.teamName' | translate }}</label>
          <p>{{ resumeTeamData.name }}</p>
        </div>
        <div class="form-group">
          <label>{{ 'inscriptions.teamForm.teamCat' | translate }}</label>
          <p>{{ resumeTeamData.category }}</p>
        </div>
        <div class="form-group">
          <label>{{ 'inscriptions.teamForm.teamPay' | translate }}</label>
          <p>{{ resumeTeamData.pay ? 'Sí' : 'No' }}</p>
        </div>
      </div>
      
      <h3>Jugadores:</h3>
      <div class="d-flex flex-row justify-content-around">
        <div *ngFor="let player of allPlayers; let i = index" class="card text-center mb-3">
          <div class="card-body">
            <h4 class="card-title">{{ 'inscriptions.playersForm.playerN' | translate }} {{ i + 1 }}</h4>
          </div>
          <div class="form-group">
            <label>{{ 'inscriptions.playersForm.playerNif' | translate }}</label>
            <p>{{ player.nif }}</p>
          </div>
          <div class="form-group">
            <label>{{ 'inscriptions.playersForm.playerName' | translate }}</label>
            <p>{{ player.name }}</p>
          </div>
          <div class="form-group">
            <label>{{ 'inscriptions.playersForm.playerTelf' | translate }}</label>
            <p>{{ player.phone }}</p>
          </div>
          <div class="form-group">
            <label>{{ 'inscriptions.playersForm.playerIg' | translate }}</label>
            <p>{{ player.instagram }}</p>
          </div>
          <div class="form-group">
            <label>{{ 'inscriptions.playersForm.playerPics' | translate }}</label>
            <p>{{ player.want_pics ? 'Sí' : 'No' }}</p>
          </div> 
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="submitForm()">Enviar</button>
    </div>
  </div>
